sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t elliotzeff/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true elliotzeff/react-test npm test

after_success:
  - docker build -t elliotzeff/multi-client ./client
  - docker build -t elliotzeff/multi-nginx ./nginx
  - docker build -t elliotzeff/multi-server ./server
  - docker build -t elliotzeff/multi-worker ./worker
#log in to the docker CLI
  -echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
#take these images and push to docker hub
  - docker push elliotzeff/multi-client
  - docker push elliotzeff/multi-nginx
  - docker push elliotzeff/multi-server
  - docker push elliotzeff/multi-worker